
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    padding: 10px 20px;
    color: white;
}

.logo h1 {
    font-size: 24px;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: #ba0a0a;
}

/* Responsive Design */
@media (max-width: 600px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none; /* Initially hidden */
        flex-direction: column;
        position: absolute;
        top: 60px; 
        right: 20px;
        background-color: #4a90e2;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-list.active {
        display: flex; /* Show when active */
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* ABOUT SECTION*/

.about-section {
    background-image: url("https://img.freepik.com/free-photo/dark-blue-plain-wall-background_53876-92976.jpg?t=st=1729061289~exp=1729064889~hmac=1a1ee05577dd827e419858bfae2bd4fa1b04952e13acac9934f347ee50d264d7&w=996");
    color: azure;
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    background-color: #FFEFD5; 

    
}

.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 1.8em;
    margin-top: 20px;
}

.about-section p {
    font-size: 1.1em;
    margin: 10px 0;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section li {
    margin: 10px 0;
    text-align: left; 
}
